/* ### Composants JavaFX ### */

Button {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-text-fill: #c379ef;
    -fx-font-size: 15;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-border-radius: 10;
    -fx-border-color: #c379ef;

}

Button:hover {
    -fx-background-color: #c379ef;
    -fx-text-fill: #232626;
    -fx-cursor: hand;
}

Text{
    -fx-fill: white;
    -fx-font-size: 15;
}

/* ### Classes JavaFX ### */

.paneBureau{
    /*-fx-background-color: #232626;*/
    -fx-padding: 10;
    -fx-spacing: 10;
}

.paneListe {
    -fx-background-color: #323636;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-background-radius: 10;
}

.paneTache {
    -fx-background-color: #424848;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-border-color: #424848;
    -fx-border-radius: 10;
}

.paneTache:hover {
    -fx-background-color: #323636;
    -fx-cursor: hand;
}

/* ### Overlay ### */

.overlayBackground {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
    -fx-background-color: #323636;
    -fx-background-radius: 10;
    -fx-padding: 100;
    -fx-spacing: 50;
}

.titre {
    -fx-font-size: 25;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-text-alignment: left;
}

TextArea {
    -fx-font-size: 15;
    -fx-background-color: #424848;
    -fx-border-width: 0;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-text-fill: white;
}

TextArea .content {
    -fx-background-color: #424848;
    -fx-background-radius: 0;
}

.quitter {
    -fx-background-radius: 1000;
    -fx-text-fill: red;
    -fx-border-radius: 1000;
    -fx-border-color: red;
    -fx-padding: 10 15;
}

.quitter:hover {
    -fx-background-color: red;
    -fx-text-fill: white;
}